<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value=""/>
    <!--跟踪SQL执行时间，大于该阀值将输出日志，默认0毫秒不跟踪。-->
    <add key="XCode.TraceSQLTime" value="0"/>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="false"/>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空。-->
    <add key="XCode.Negative.Exclude" value=""/>
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="false"/>
    <!--缓存有效期。-2	关闭缓存；-1	非独占数据库，请求级缓存；0	永久静态缓存；>0	静态缓存时间，单位秒；默认-2。-->
    <add key="XCode.Cache.Expiration" value="-2"/>
    <!--日志目录。默认为当前目录下的Log文件夹。生产环境建议输出到站点外单独的Log目录-->
    <add key="NewLife.LogPath" value=""/>

    <add key="ServiceName" value="SupperSocketService"/>
    <add key="jsonbase" value=""/>
    
     <!--GM指令启用 0:不启用,1:启用-->
    <add key="gm" value="1"/>
    <!--激活验证 0:不验证,1:验证-->
    <add key="act" value="0"/>
    <!--防沉迷验证 0:不验证,1:验证-->
    <add key="fcm" value="1"/>
  
  </appSettings>
  <connectionStrings>
    <!--如果要连接本地数据库测试请修改后一定不要把你的连接签入,因为其他人是没法用滴,你本地测试完后记得撤销这个文件 -->
    <!--服务器连接字符串-->
    <!--<add name="DB" providerName="System.Data.SqlClient" connectionString="server=192.168.1.254;database=tg_test;uid=js;pwd=js@2014"/>-->
    <!--开发数据库连接字符串-->
    <add name="DB" providerName="System.Data.SqlClient" connectionString="server=192.168.1.254;uid=js;pwd=js@2014;database=tgg2;"/>
    <add name="ACT" providerName="System.Data.SqlClient" connectionString="server=192.168.1.254;uid=js;pwd=js@2014;database=tg_activation;"/>
  </connectionStrings>
  <superSocket>
    <servers>
      <server name="TGGSocketServer" serverTypeName="TGGSocketService" ip="Any" port="10086" maxConnectionNumber="100000" 
              clearIdleSession="true" 
              clearIdleSessionInterval="300"
              idleSessionTimeOut="300"
              sendTimeOut="30000"
              >
        <commandAssemblies>
          <add assembly="TGG.Command.Socket"></add>
        </commandAssemblies>
      </server>
      <server name="FlashPolicyServer" serverType="SuperSocket.Facility.PolicyServer.FlashPolicyServer, SuperSocket.Facility"
                   ip="Any" port="10087" receiveBufferSize="64" maxConnectionNumber="100000" policyFile="Config/flash.xml" clearIdleSession="true">
      </server>

      <!--<server name="PolicyServer" serverTypeName="TGGPolicyServer" ip="Any" port="10087" maxConnectionNumber="10000">
      </server>-->
    </servers>
    <serverTypes>
      <add name="TGGSocketService" type="TGG.SocketServer.TGGServer, TGG.SocketServer"/>
      <add name="TGGPolicyServer" type="TGG.SocketServer.TGGPolicyServer, TGG.SocketServer"/>
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
