<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
    <add key="jsonbase" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DB" providerName="System.Data.SqlClient" connectionString="server=.;database=tgg2;uid=sa;pwd=1234"/>-->
    <add name="DB" providerName="System.Data.SqlClient" connectionString="server=192.168.1.254;database=tgg2;uid=js;pwd=js@2014"/>
  </connectionStrings>
  <superSocket>
    <servers>
      <server name="TGGSocketServer" serverTypeName="TGGSocketService" ip="Any" port="10086" maxConnectionNumber="10000" clearIdleSession="true" clearIdleSessionInterval="5">
        <commandAssemblies>
          <add assembly="TGG.Command.Socket"></add>
        </commandAssemblies>
      </server>
      <server name="PolicyServer" serverTypeName="TGGPolicyServer" ip="Any" port="10087" maxConnectionNumber="10000">       
      </server>
    </servers>
    <serverTypes>
      <add name="TGGSocketService" type="TGG.SocketServer.TGGServer, TGG.SocketServer"/>
      <add name="TGGPolicyServer" type="TGG.SocketServer.TGGPolicyServer, TGG.SocketServer"/>
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
