@using TGM.API.Entity.Model
@{
    ViewBag.Title = "平台留存统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var platforms = ViewBag.Platform as List<Platform>;
}

@section css {

    <link href="~/css/pagination.css" rel="stylesheet" />
}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN SAMPLE FORMPORTLET-->
            <div class="widget purple">
                <div class="widget-title">
                    <h4>
                        <i class="icon-reorder"></i> @ViewBag.Title
                    </h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="clearfix span12">
                        <div class="control-group success span3">
                            <select class="input-large" tabindex="1" name="d_1" id="d_1">
                                <option value="0">--请选择--</option>
                                @foreach (var item in platforms)
                                {
                                    <option value="@item.id">@item.name</option>
                                }
                            </select>
                        </div>
                        <div class="control-group success span2">
                            <a class="btn btn-small btn-success" id="search_record"><i class="icon-search icon-white"></i> 查询</a>
                        </div>
                    </div>
                    <div class="space15"><hr /></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>服务器名称</th>
                                <th>开服时间</th>
                                <th>30天内登陆人数</th>
                                <th>次日留存</th>
                                <th>三日留存</th>
                                <th>五日留存</th>
                                <th>七日留存</th>
                                <th>三十日留存</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row-fluid" id="search_pager">

                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORMPORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTENT-->
@section Scripts {
    <script src="~/js/jquery.pagination.js"></script>
    <script type="text/javascript">

        var pageIndex = 0;     //页面索引初始值
        var pageSize = 10;     //每页显示条数初始化，修改显示条数，修改这里即可


        get_search(pageIndex);

        //翻页调用
        function PageCallback(index, jq) {
            get_search(index);
        }


        //绑定第一个下拉选择事件
        $("#d_1").change(function () {
            pageIndex = 0;
        });

        $("#search_record").click(function () {
            get_search(pageIndex);
        });

        //查询方法
        function get_search(index) {
            var q1 = $("#d_1").find("option:selected").val();
            //alert(index+"");
            $.ajax({
                url: "/Record/PagerServerKeep?pid=" + q1 + "&index=" + index + "&size=" + pageSize, //mvc请求地址
                type: "get", //ajax请求类型
                dataType: "json", //请求返还数据格式
                //data: "page=" + index + "&pageSize=" + pageSize + "&where=",
                success: function (r) { //ajax请求成功数据处理
                    $("#editable-sample tbody").empty();
                    if (r.length > 0) return;
                    var records = r.Keeps;
                    for (var n = 0; n < records.length; n++) {
                        var url = "/Record/ServerDetail?sid=" + records[n].sid;
                        var player = "/Player";
                        var _html = "<tr>";
                        _html += "<td>" + records[n].server_name + "</td>";
                        _html += "<td>" + records[n].createtime + "</td>";
                        _html += "<td>" + records[n].login_30 + "</td>";
                        _html += "<td>" + records[n].keep_1 + " %</td>";
                        _html += "<td>" + records[n].keep_3 + " %</td>";
                        _html += "<td>" + records[n].keep_5 + " %</td>";
                        _html += "<td>" + records[n].keep_7 + " %</td>";
                        _html += "<td>" + records[n].keep_30 + " %</td>";
                        _html += "</tr>";
                        $("#editable-sample tbody").append(_html);

                    }
                    var p = r.Pager;
                    pageSize = p.PageSize;
                    pageIndex = p.CurrentPageIndex;
                    //alert(p.CurrentPageIndex);
                    //分页，PageCount是总条目数，这是必选参数，其它参数都是可选
                    $("#search_pager").pagination(p.RecordCount, {
                        callback: PageCallback,
                        prev_text: '上一页',       //上一页按钮里text
                        next_text: '下一页',       //下一页按钮里text
                        items_per_page: pageSize,  //显示条数
                        num_display_entries: 5,    //连续分页主体部分分页条目数
                        current_page: pageIndex,   //当前页索引
                        num_edge_entries: 3        //两侧首尾分页条目数
                    });
                }
            });
        }
    </script>
}


