@using TGM.API.Entity.Model
@{
    ViewBag.Title = "等级分布记录";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var platforms = ViewBag.Platform as List<Platform>;
}

@section css{
    <link href="~/css/pagination.css" rel="stylesheet" />
}

@{
    var error = ViewBag.Error;
}
@if (error < 1)
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <center> @ViewBag.Message</center>
    </div>
}

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">等级分布记录</h3>
        <ul class="breadcrumb">
            <li>
                <a href="~/?Home">首页</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td><label class="btn-small">平台</label></td>
            <td>
                <select class="input-large" tabindex="1" name="platform" id="platform">
                    <option value="0">--请选择--</option>
                    @foreach (var item in platforms)
                    {
                        <option value="@item.id">@item.name </option>
                    }
                </select>
            </td>
            <td> <label class="btn-small">服务器</label></td>
            <td><select class="input-large" tabindex="1" name="server" id="server"></select></td>
            <td><label><button class="btn btn-success btn-small" type="button" id="search">查询</button></label></td>
    </table>
    <div class="btn-toolbar"></div>

    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN BASIC PORTLET-->
            <div class="widget blue">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> 等级分布记录</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <table class="table table-hover" id="level_record_table">
                        <thead>
                            <tr>
                                <th> 日期</th>
                                <th>1~20级</th>
                                <th>21~30级</th>
                                <th>31~35级</th>
                                <th>36~40级</th>
                                <th>41~45级</th>
                                <th>46~50级</th>
                                <th>51~55级</th>
                                <th>56~60级</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row-fluid" id="level_server"></div>
                </div>
            </div>
            <!-- END BASIC PORTLET-->
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <script type="text/javascript">

        //根据平台读取服务器信息
        $("#platform").change(function () { get_server(); });

        function get_server() {
            $("#server").empty();
            var sv = $("#platform").find("option:selected").val();
            if (sv == 0) {
                $("#server").empty();
            } else {

                $.ajax({
                    url: "/Common/AjaxServer?id=" + sv,
                    type: "get",
                    dataType: "json",
                    success: function (r) {
                        for (var n = 0; n < r.length; n++) {
                            var v = r[n].id;
                            var name = r[n].name;
                            $("#server").append("<option value='" + v + "'>" + name + "</option>");
                        }
                    }
                });
            }
        }
    </script>

    <script src="~/js/jquery.pagination.js"></script>
    <script type="text/javascript">

        var page = 0;
        var size = 10;

        //翻页调用
        function PageCallback(page) {
            get_search(page);
        }

        $("#search").click(function () {
            get_search(page);
        });

        //查询方法
        function get_search(page) {
            var pid = $("#platform").find("option:selected").val();
            if (pid == 0) {
                alert("请选择平台");
                return;
            }
            var sid = $("#server").find("option:selected").val();
            if (sid == "") {
                return;
            }
            $.ajax({
                url: "/Record/AjaxLevel?sid=" + sid + "&page=" + page + "&size=" + size,
                type: "get",
                dataType: "json",
                success: function (r) {
                    $("#level_record_table tbody").empty();
                    if (r.length > 0) return;

                    var level = r.ServerLevels;
                    for (var n = 0; n < level.length; n++) {
                        var _html = "<tr>";
                        _html += "<td>" + level[n].createtime + "</td>";
                        _html += "<td>" + level[n].stage1_count + "（" + level[n].percent1 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage2_count + "（" + level[n].percent2 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage3_count + "（" + level[n].percent3 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage4_count + "（" + level[n].percent4 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage5_count + "（" + level[n].percent5 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage6_count + "（" + level[n].percent6 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage7_count + "（" + level[n].percent7 + "%" + "）" + "</td>";
                        _html += "<td>" + level[n].stage8_count + "（" + level[n].percent8 + "%" + "）" + "</td>";
                        _html += "</tr>";
                        $("#level_record_table tbody").append(_html);
                    }
                    var p = r.Pager;
                    size = p.PageSize;
                    page = p.CurrentPageIndex;

                    $("#level_server").pagination(p.RecordCount, {
                        callback: PageCallback,
                        prev_text: '上一页',
                        next_text: '下一页',
                        items_per_page: size, //显示条数
                        num_display_entries: 5, //连续分页主体部分分页条目数
                        current_page: page, //当前页索引
                        num_edge_entries: 3 //两侧首尾分页条目数
                    });
                }
            });
        }
    </script>
}
