<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎来到太阁游戏 API!</h1>
            </hgroup>
            <p>
                本作是以描写丰臣秀吉从一名兵士成长为领袖的故事为题材的《太阁立志传》系列的第五部作品。 　
                本作的特征是除了主人公丰臣秀吉以外还可以选择其他人物。
                在游戏中如果和登场人物的亲密度达到一定程度的话就可以得到“主人公卡片”，
                然后在下次就可以以该人物为主人公进行游戏。
                能够成为主人公的人物除了知名的战国武将之外还包括商人、忍者等，总数达到了800人之多。 　
                玩家的目的也不仅仅限于统一天下，还可以以成为最强的忍者、如果是商人的话以收敛财富为目标，
                而且武士之外的其它生存方式也是可能的。游戏里面很好地模拟了战国时代的个人生活。 　
                单人对决与群战等战斗场面使用的是卡片战斗方式。卡片除了攻击和突击等基本卡片之外还有“三段击”、
                “早合”等特殊卡片，双方卡片的属性不同也会影像到双方的优劣情况。除此之外，
                还有可以通过进行忍术和军事等锻炼而获得的“技能卡片”、散落在各地的“名所卡片”
                以及根据人物的实绩获得的“称号卡片”等的共1000种卡片，以供玩家收集。
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add NuGet packages and jump-start your coding</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>
